@model Vidly2.Models.Customer

@{
    ViewBag.Title = "Customers";
}


<div class="container pt-5">
    <h2>@Model.Name</h2>
    <ul>
        <li>
            Membership Type: @Model.MembershipType.Name
        </li>
        @if (Model.Birthdate != null)
        {

            <li>
                Birthday: @Model.Birthdate
            </li>
        }
    </ul>
</div>